/* login.component.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-header {
    background-color: #007bff; /* You can change the color */
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .login-header h1 {
    margin: 16px;
  }
  
  .login-card {
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  button {
    width: 100%;
  }
  
  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  

  .register-link {
    margin-top: 20px;
  }